.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

ffmpeg.exe
ffplay.exe
ffprobe.exe
src/lib/ext/PrivateVariable.ts
localStorage/